.container {
    display: flex;
    flex-direction: column;
}
.container form {
 display: flex;
 flex-direction: column;
}
.button {
    width: 100px;
    height: 40px;
    color: black;
    font-weight: 500;
    margin-left: 10px;
    border: solid 1px white;
    border-radius: 8px;
    
}
.button:hover {
    color: white;
    background-color:  orange;
    cursor: pointer;
}
.container nav {
    display: flex;
    background-color: blue;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.container form {
    width: 300px;
    text-align: center;
    margin-left: 800px;
    margin-top: 100px;
    gap: 20px;
}
.container form input {
    height: 30px;
}
.buttonF {
    width: 150px;
    height: 40px;
    color: black;
    font-weight: 500;
    border: solid 1px white;
    border-radius: 8px;
    margin-left: 80px;
    
}
.buttonF:hover {
    color: white;
    background-color:  orange;
    cursor: pointer;
}
.table {
    margin-top: 50px;
    margin-left: 50px;
    width: 97.8%;
}
.table th{
    border-bottom: 5px solid #eae7e7;
    border-right: 1px solid #eae7e7;
    padding: 15px;
    font-size: 25px;
    color: #643bff;
}
.table td{
    border-right: 1px solid #eae7e7;
}
.left{
    width: 10%;
}
.nav{
    position: fixed;
}
.table a{
    text-decoration: none;
}
.table a:hover {
    color: #643bff;
}
.active{
    color: #643bff;
}
.right{
    text-align: left;
    
}
.table td ul{
    color: gray;
    list-style: none;
    
}
.table td ul li{
    padding: 15px;    
}
.table td ul li:hover{
    background-color: #eae7e7;
}
